/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Accumen
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120712
*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #fefefe;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	line-height: 1.75em;
	background: #fff url('../images/00bd.png');
	
	font-size: 11.5pt;
	color: #353535;
}

body,input {
	font-family: Kreon, serif;
}

br.clearfix {
	clear: both;
}




ul {
	margin-bottom: 1.5em;
}


a {
	color: #353535;
}

#footer {
	padding: 20px 0 20px 0;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
	color: #353535;
}

#footer a {
	color: #353535;
}

#menu {
	line-height: 57px;
	height: 57px;
	font-family: "Open Sans", sans-serif;
	background-color:  #271E1D;	
}

#menu a {
	color: #fefefe;
	font-size: 1.2em;
}

#menu a:hover {
	text-decoration: none;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#menu .last{
	line-height: inherit;
	float: right;
}

#wrapper {
	width: 978px;
	position: relative;
	background: #FFF;
	margin: 15px auto;
	box-shadow: 10px 100px 150px 0px rgba(0,0,0,0.15);
	border: solid 1px #f3f3f3;
	border-top: 0;
}

#welcome{
	padding: 40px 30px;
}

.holder{
	padding: 20px 15px;
}

div .options{
	float: left;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	display: inline-block;
}